<div class='panel panel-primary' *ngIf='book'>
    <div class='panel-heading'>
        {{ pageTitle + ': ' + book.volumeInfo.title }}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-xs-6 col-sm-6 col-md-6'
                 [style.background]="color">
                <img class='center-block img-responsive'
                     [style.width.px]='200'
                     [style.margin.px]='2'
                     [src]='book.volumeInfo.imageLinks.thumbnail'
                     [title]='book.volumeInfo.title'>
            </div>
            <div class='col-xs-6 col-sm-6 col-md-6'>
                <div class='col-md-8' class="block-title">
                    <label class="textfield_label" for="nametext"></label>
                    <input type="text" id="nametext"
                           [(ngModel)]="book.volumeInfo.title"
                           [ngClass]="{selected: edit}"
                           *ngIf="edit">{{book.volumeInfo.title}}
                </div>
                <div class='col-md-6'>by {{book.volumeInfo.authors}}</div>
                <div class='col-md-8'>
                    <hr>
                </div>
                <div class='col-md-8'>
                    <ai-star [rating]='book.volumeInfo.averageRating'></ai-star>
                    <span class="lite-title">({{book.volumeInfo.ratingsCount}} total ratings)</span>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <hr>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <h5>Book Description</h5>
            </div>
            <div class='col-md-6'>
                <label class="textfield_label" for="descriptiontext"></label>
                <input type="text" id="descriptiontext"
                       [(ngModel)]="book.volumeInfo.description"
                       [ngClass]="{selected: edit}"
                       *ngIf="edit">
                <span [innerHtml]="book.volumeInfo.description"></span>
            </div>
            <div class='col-md-6'>Publisher: {{book.volumeInfo.publisher}}</div>
            <div class='col-md-6'>Release date: {{book.volumeInfo.publishedDate}}</div>
        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>