<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Products -->
    <div class='panel-body ' *ngIf='books && books.items.length'>
        <div class='row'>
            <div class='col-md-4'>Filter by:  
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <!--<div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>-->
        <div class='row'>
            <div class="col s12 m7" *ngFor='let book of books.items | bookFilter:listFilter'>
                <a [routerLink]="['/book',book.id]">
                    <div class="card small">
                        <div class="card-image">
                            <img [src]='book.volumeInfo.imageLinks.thumbnail'
                                  [title]='book.volumeInfo.title | uppercase'
                                  [style.width.px]='imageWidth'
                                  [style.margin.px]='imageMargin'>
                        </div>
                        <div class="card-content">
                            <div class="block-title">{{book.volumeInfo.title}}</div>
                            <div class="block-author">by
                                <li *ngFor="let author of book.volumeInfo.authors">{{author}}</li>
                            </div>
                            <ai-star [rating]='book.volumeInfo.averageRating'
                                      (ratingClicked)='onRatingClicked($event)'>
                            </ai-star>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </div>
</div>